.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  justify-content: center; /* Căn giữa hai form theo chiều ngang */
  align-items: center;    /* Căn giữa hai form theo chiều dọc */
  height: 100vh;          /* Chiều cao 100% viewport */
  gap: 40px;              /* Khoảng cách giữa hai form */
  padding-top: 5rem;      /* Khoảng cách trên cùng cho toàn bộ container */
}
