/* src/components/Whiteboard.css */
.whiteboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

canvas {
  border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    display: block;

}